# Node.js dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# Build output
/client/dist
/client/out
/client/.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
/.vscode
.idea

# Environment files
/client/.env
/client/.env.local
/client/.env.*.local

# Chrome Extension local storage / IndexedDB
/client/IndexedDB
/client/usersData.db
/client/extensionData.db

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/client/.cache
